html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #fdf6ed;
  color: #333;
}

header {
  max-width: 900px;
  margin: 25vh 15px 0;
}

@media (max-width: 700px) {
  header {
    margin: 20vh 15px 0;
    line-height: 50px;
  }
}
