.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.card {
  position: absolute;
  width: 280px;
  height: 280px;
  padding: 20px;
  background-color: #fff;
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  z-index: 1;
  top: 50vh;
}

.cardDescription {
  cursor: pointer;
}

.cardDescription:hover {
  text-decoration: underline;
}

.card > div {
  flex: 1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  font-size: large;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.cta {
  max-width: 900px;
  margin: 25vh 15px 0;
}

/* Mobile */
@media (max-width: 700px) {
  .card {
    width: 150px;
    height: 150px;
  }
  .cardDescription {
    margin: 0;
    font-size: 1.1rem;
  }

  .cardTitle {
    font-size: 0.95rem;
  }
  .cta {
    margin: 15vh 15px 0;
    line-height: 3rem;
  }
}
